
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth
}
@import "header";
@import "variables";
@import "products";
@import "footer";
@import "about";
@import "gallary";
@import "contact"